parameters:
  level: 5
  paths:
    - src
    - web/modules/custom/alter_consult_chatbot
  excludes_analyse:
    - tests
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  checkMissingCallableSignature: false
  checkUninitializedProperties: false
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false